<div class="ui attached segments" id="devices">
  <div class="ui inverted blue secondary attached segment">
    <div class="ui container">
      <h1 class="ui header"> My Devices </h1>
    </div>
  </div>
  <div class="ui bottom attached segment">
    <div class = "ui five stackable cards container">
      <div class="ui green link card" style="min-height:100px">
        <div class="content">
          <div class="ui centered green header" style="margin-top:25px;"> <i class="ui add icon"> </i> Add Device</div>
        </div>
      </div>
      <div data-ng-repeat = "device in devices" class="ui card">
        <div class="ui blue link card">
          <div class="content">
            <div class="header">{{ device.name }}</div>
          </div>
          <div class="extra content">
            <div class="description">
              <div class = "ui list">
                <div class="header"> Location: </div>
                <div class="description"> {{ device.latitude + ',' + device.longitude }} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>
