<div class="ui attached segments" id="devices">
  <div class="ui inverted blue secondary attached segment">
    <div class="ui container">
      <h1 class="ui header"> My Devices </h1>
    </div>
  </div>
  <div class="ui bottom attached segment">
    <div class = "ui five stackable cards container">
      <div data-ng-repeat = "device in devices" class="ui card">
        <div class="ui blue link card">
          <div class="content">
            <i ng-class="{green: device.status == 'active', red: device.status != 'active'}" class="ui right floated circle icon"></i>
            <div class="header">{{ device.id }}</div>
            <div class="meta">
              <span class="category"> Last update: {{ device.date }}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="description">
              <div class = "ui list">
                <div class = "item"> <strong> pH: </strong> {{ device.pH }} </div>
                <div class = "item"> <strong> Temperature: </strong> {{ device.temperature }} </div>
                <div class = "item">
                  <div class="header"> Location: </div>
                  <div class="description"> {{ device.lat + ',' + device.long }} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
