<input type="file" id="fileinput" />
<script type="text/javascript">
  function readSingleFile(evt) {
    //console.log({{keys}});
    //Retrieve the first (and only!) File from the FileList object
    var f = evt.target.files[0]; 

    if (!f) {
        alert("Failed to load file");
    } else if (!f.type.match('text/plain')) {
        alert(f.name + " is not a valid text file.");
    } else {
      var r = new FileReader();
      r.onload = function(e) { 
        var contents = e.target.result;
        alert( "Got the file.n" 
        +"name: " + f.name + "\n"
        +"type: " + f.type + "\n"
        +"size: " + f.size + " bytes\n"
        + "contents: " + contents
        );
        var data_sets=contents.split('|');
        for(var i = 0; i<data_sets.length; i++){
            var data = data_sets[i].split(',');
            var temp = data[0];
            var pH = data[1];
            var turb = data[2];
            var time_stamp = data[3];
            alert("HERE");
            $.ajax({
              url:"/data/newData",
              type:"POST",
              data: {device_id: {{id}},
                    collected_at : time_stamp,
                    data_type: {{type_of_data}}
                  },
              dataType:"json"
            });
        }
      }
      r.readAsText(f);
    }
      
    
  }

  document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
  </script>