<h1> Register a new device </h1>
<script>
function validateForm() { //cannot proceed without entering a nickname
    var x = document.forms["myForm"]["devid"].value;
    if (x == null || x == "") {
        alert("Must enter valid information");
        return false;
    }
} //myForm needs to return to the my devices page which it doesn't right now
</script>
<form action="/devices" onsubmit="return validateForm()" method="POST"> 
		<ul>
			<li> Name: <input type="text" name="name"></input></li>
		</ul>
		<ul>
			<li> Latitude: <input type="text" name="latitude"></input></li>
		</ul>
		<ul>
			<li> Longitude: <input type="text" name="longitude"></input></li>
		</ul>
		<ul>
		<select name="mode">
  		<option value="Arduino" selected="selected">Arduino device</option>
  		<option value="Manual">Mobile</option>
		</select>
		</li>
		<h2>If Arduino device: </h2>
		<ul>
			<li> Data Measurement 1: <input type="text" name="type_1"></input></li></br>
			 Units: <input type="text" name="units_1"></input>
		</ul>
		<ul>
			<li> Data Measurement 2: <input type="text" name="type_2"></input></li></br>
			Units: <input type="text" name="units_2"></input>
		</ul>
		<ul>
			<li> Data Measurement 3: <input type="text" name="type_3"></input></li></br>
			Units: <input type="text" name="units_3"></input>
		</ul>
		<ul>
			<li> Data Measurement 4: <input type="text" name="type_4"></input></li></br>
			Units: <input type="text" name="units_4"></input>
		</ul>
		<ul>
			<li> Data Measurement 5: <input type="text" name="type_5"></input></li></br>
			Units: <input type="text" name="units_5"></input>
		</ul>
		<ul>
			<li> Data Type: <input type="text" name="type_5"></input></li></br>
			Units: <input type="text" name="units_5"></input>
		</ul>
		<h2> Type of Data Collected </h2>
		<select name="data_type">
  		<option value="water" selected="selected">Water</option>
  		<option value="air">Air</option>
  		<option value="soil">Soil</option>
		</select>
		</ul>
<input type="submit" value="Register">
</form>

