<div class="ui secondary attached menu">
	<div class="ui container">
		<!-- <h1 class="ui medium header"> Info about {{name}}</h1> -->
		<div class="header item"> Device: <strong> {{name}} </strong> </div>
		<div class="right menu">
      <a class="item" href="/devices/{{id}}/edit"> <i class="ui edit icon"></i>Edit {{name}}</a>
      <script>
      function checkMobile(data) { //cannot proceed without entering a nickname
          if(data.match("Manual")){
          	document.write("<a class='item' href=/mobile/input><i class='ui add icon'></i> Add data manually</a>");
         	}else{
         		document.write("<a class='item' href=/devices/{{id}}/bulkupload> <i class='ui upload icon'></i> Upload Data File </a>");
         	}
      }
      checkMobile('{{mode}}');
      </script>
    </div>
  </div>
</div>
<div class="ui attached segment" id="chart" ng-app="deviceApp" ng-controller="deviceDetails">
  <div class="ui container">
    <div class="ui grid">
      <div class="ten wide column">
        <highchart id="chart1" config="chartConfig" class="span10"></highchart>
      </div>
      <div class="six wide column">
        <!--div class="ui button" ng-click="swapChartType()"> Line or Bar </div>
        <div class="ui button" ng-click="randomizeData()"> Randomize Data </div>
        <div class="ui button" ng-click="addpH()"> Add pH Data </div>
        <div class="ui button" ng-click="addTemperature()"> Add Temperature Data </div>
        <div class="ui button" ng-click="addTurbidity()"> Add Turbidity Data </div-->
				<!--div class="form-group">
            <label for="date-birth" class="control-label">Birth date:</label>
            <div class="control">
                <input id="date-birth" class="form-control" type="date" ng-model="dateBirth">
            </div>
        </div-->
				<form class="ui form" ng-submit="submit()">
					<div class="field">
						<label > Start Date: </label>
						<input type="date" name="startDate" ng-model="dateStart" required="true">
					</div>
					<div class="field">
						<label > End Date: </label>
						<input type="date" name="endDate" ng-model="dateEnd" required="true">
					</div>
					<button class="ui button" value = "submit"> Submit </button>
				</form>
        <div id="latest_data"> <h3> Latest recordings </h3>
        	{{#device_data}} <ul>
            {{#.}}
              <li> pH: {{ph}}, temperature: {{temperature}}, {{#other_data}} collected: {{created_at}}{{/other_data}}</li>
            {{/.}}
          {{/device_data}}</div> 
      </div>
    </div>
  </div>

  </div>
</div>
<script src="/js/services/DataService.js" charset="utf-8"> </script>
<script src="/libs/angular/angular.min.js" charset="utf-8"> </script>
<script src="/libs/highcharts/highcharts.src.js" charset="utf-8"> </script>
<script src="/libs/angular-highcharts/dist/highcharts-ng.min.js" charset="utf-8"> </script>
<script src="/js/controllers/deviceDetails.js" charset="utf-8"> </script>
