<h1> Register </h1>

<div id="register">
	{{#err}}
		{{err_msg}}
	{{/err}}
<form action="/users" method="POST"> 
	<input type="hidden" name="invitation_token" value="" id="invitation_token">
		<ul>
			<li> Email: <input type="email" name="email"></input></li>
			<li> Password: <input type="password" name="password_digest"> </input></li>
		</ul>

		<input type="submit" value="Register">
	
</form>
</div>
<script>
	document.getElementById("invitation_token").setAttribute('value', window.location.pathname.split("/")[3]);
</script>