<div class="ui secondary grey inverted attached menu">
	<div class="ui container">
		<div class="header item"> My Account: {{current_user.data.email}}</div>
		<div class="right menu">
			<a class="item" href='/'> <i class="ui home icon"></i> Home </a>
			<a class="item" href='/map'> <i class="ui marker icon"></i> Map </a>
			<!-- <a class="item" href="/users/{{current_user.data.id}}/destroy"> <i class="ui remove icon"></i> Destroy </a> -->
		</div>
	</div>
</div>

<div class="ui attached segment">
	<div class="ui container">
		<div class="ui large header"> Register </div>
		{{#notice}}

			<div class="ui info message"> {{{notice}}} </div>
		{{/notice}}

		{{#err}}
			<div class="ui error message"> {{err_msg}} </div>
		{{/err}}

		<div id="register">
			<form class="ui padded form segment" action="/users" method="POST">
				<input type="hidden" name="invitation_token" value="" id="invitation_token">
				<div class="inline field">
					<label style="width:65px; text-align:right"> Email: </label>
					<input type="email" name="email"></input>
				</div>
				<div class="inline field">
					<label style="width:65px; text-align:right"> Password: </label>
					<input type="password" name="password_digest"> </input></li>
				</div>
				<input class="ui basic button" type="submit" value="Register">
			</form>
		</div>

	</div>
</div>

<script>
	document.getElementById("invitation_token").setAttribute('value', window.location.pathname.split("/")[3]);
</script>
