<div class="ui attached segment">
  <div class="ui container">

      {{#current_user}}
        <div class="ui vertically fitted menu">
          <p class="ui item inverted header" href="#"> Welcome, {{current_user.data.email}} </p>
          <div class="right menu">
            <a href="/users/{{current_user.data.id}}" class="item "> My Profile </a>
            <a href="/logout" class="item "> Logout </a>
          </div>
        </div>
      {{/current_user}}

      {{#notice}}
        <div class="ui message"> {{notice}} </div>
      {{/notice}}

      {{^current_user}}
        <div class="ui basic horizontal buttons">
          <a class="ui button" href="/login"> Login </a>
          <a class="ui button" href="/users/new"> Register </a>
        </div>
      {{/current_user}}

  </div>
</div>
