{{#notice}}
  <p> {{{notice}}} </p>
{{/notice}}
<body>

<form action="/mobile/create" method="POST">
<h1> Please insert data below</h1>

<label> Device: </label>


<select name="device_id" id="device_id_selector"> 
	{{#devices}}
		<option value="{{id}}">{{id}}</option>
	{{/devices}}
</select>

<div>
	{{#devices}}
	<div class="device" id="device{{id}}" style="display: none;">
		<input type="hidden" name="data_type" value="{{type_of_data}}"></input>
		<label>Device registered for data type {{type_of_data}}</label>
		<table>
			<tr>
				<td class="keys">
					<div>
						{{#keys}}
						<div>
							<label>{{.}}</label><input type="text" name="{{.}}"></input>
						</div>
						{{/keys}}
					</div>
				</td>
				<td class="units">
					<div>
						{{#units}}
						<div>
							<label>{{.}}</label>
						</div>
						{{/units}}
					</div>
				</td>
			</tr>
		</table>
	</div>
	{{/devices}}
</div>

<br>
<label> Latitude </label><input type="text" name="latitude" id="latitude-input"></input>
<br>
<label> Longitude </label><input type="text" name="longitude" id="longitude-input"></input>
<br>
<button type="button" id="get-lat-lon" onclick="getLocation()" > Get Current Lat, Lon </button>

<input type="submit" value="Submit" id="submit-form">
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script> 

var latitude = document.getElementById("latitude-input");
var longitude = document.getElementById("longitude-input");

var selected_id = $('#device_id_selector').val();
// show input fields for the selected device
showDevice(selected_id);

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
       latitude.value = "Geolocation is not supported by this browser.";
	   longitude.value = "Geolocation is not supported by this browser.";
    }
}

function showDevice(id){
	$(".device").hide();
	$(".device input").prop('disabled', true);
	$("#device" + id).show();
	$("#device" + id + " input").prop('disabled', false);
}

function showPosition(position) {
    latitude.value = position.coords.latitude;
	longitude.value = position.coords.longitude;
}

$("#device_id_selector").change(function(){
	selected_id = $('#device_id_selector').val();
	showDevice(selected_id);
});


$("#submit-form").click(function() {
  this.preventDefault();
  this.submit();
});

</script>

</body>
