<div class="ui attached padded segment">
 <div class="ui centered divided stackable grid container">
  <div class="eight wide column">
   <!-- Upload Single page -->
    <h1 class="ui centered dividing header"> Upload Single </h1>
     <form upload-form class="ui form segment" >

      <div class="field">
       <label> Device ID</label>
       <input type="text" name="deviceID">
      </div>

      <div class="field">
       <label> pH</label>
       <input type="text" name="pH">
      </div>

      <div class="field">
       <label> temperature</label>
       <input type="text" name="temperature">
      </div>

      <div class="field">
       <label> turbidity</label>
       <input type="text" name="turbidity">
      </div>

      <button class="ui button" type="submit"> Submit </button>

     </form>
  </div>
 </div>
</div>
