<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>EnviroHub</title>
    <link rel="stylesheet" href="/css/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.1.min.js">\x3C/script>')</script>
    <script type="text/javascript" src="/js/application.js"></script>
  </head>


  <body>
      {{{content_for_layout}}}


  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.1.min.js">\x3C/script>')</script>
  <script type="text/javascript" src="/js/application.js"></script>

  <a href="/home/system_info"> System Features</a>
  </body>
</html>
