<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title> Enviro Hub </title>

    <!-- SCROLLS -->
    <!-- load jquery -->
    <script src="/libs/jquery/dist/jquery.min.js" charset="utf-8"></script>

    <!-- load semantic -->
    <script src="/libs/semantic/dist/semantic.min.js"> </script>
    <link rel="stylesheet" href="/libs/semantic/dist/semantic2.min.css">

  </head>

  <body>
    <div class="ui inverted attached segment">
    	<div class="ui container">
  		  <a class="ui huge inverted header" href="/"> EnviroHub </a>
    	</div>
    </div>

    {{{content_for_layout}}}

    <div class="ui attached segment">
      <div class="ui container">
        <a class="ui button" href="/home/system_info"> System Features</a>
      </div>
    </div>
  </body>
</html>
